@*@model Look4Events.Models.Events.Event*@
@model IEnumerable<Look4Events.Models.Events.Event>

@{
    ViewData["Title"] = "Prueba";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@*ääääääääää_______lugar donde se muestra el mapa______äääääääääääääääää*@

<p id="location">AQUÍ MAPA</p>
<div id="map"></div>
<div id="events"></div>

@*-----------------------------------------------------------------------------*@
<div class="wrapper">

    <header>
        <h2>Eventos:</h2>
    </header>

    <section id="filaResults" class="columns">

        @*<div class="column">*@
        @*<ul id="filaResults" class=list-group></ul>*@
        @*</div>*@
    </section>
</div>


@*ääääääääää_______template de tabla responsive______äääääääääääääääää*@
<div class="wrapper">


    <section>
        <h3>mostrar resultados segun filtro</h3>
        <p>
            <section class="columns">

                <div class="column">
                    <h2>Resultados obtenidos:</h2>

                    <div class="column">
                        <div class="column">
                            <div class="column">@Html.DisplayNameFor(model => model.Name)</div>

                            <div class="column">@Html.DisplayNameFor(model => model.Type)</div>

                            <div class="column">@Html.DisplayNameFor(model => model.Url)</div>
                        </div>
                        <h2>#titulo de resultado 1</h2>
                        <section class="columns">
                            @foreach (var item in Model)
                            {
                                <div class="column">
                                    <div class="column">@Html.DisplayFor(modelItem => item.Name)</div>

                                    <div class="column">@Html.DisplayFor(modelItem => item.Type)</div>

                                    <div class="column"><a href=" @Html.DisplayFor(modelItem => item.Url)" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a></div>
                                </div>
                                @*<div class="column"><a asp-action="AddFavourites" asp-route-id="@item.Id">Add to favourites</a> |</div>*@
                            }
                        </section>
                    </div>
                </div>



                @*________ prueba de tabla mostrando datos con imagen ______________*@


                <TABLE BORDER>
                    <TR class="info">

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Url)
                        </th>
                        <th>
                            lugar
                        </th>
                        <th>
                            Imagenes
                        </th>
                        <th>

                        </th>


                    </TR>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>

                                <a href=" @Html.DisplayFor(modelItem => item.Url)" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a>
                            </td>
                            <TD>
                                Lugar del evento
                            </TD>
                            <TD>
                                <img src="@Html.DisplayFor(modelItem => item.Url)" class="img-responsive" alt="Imagen responsive">
                            </TD>


                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </TABLE>

                @*----------------------------------------------------*@

            </section>
        </p>
    </section>

</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/detalles.js"></script>
